<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Add your head content here, like title, meta tags, stylesheets, etc. -->
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Include the Navbar Component using the <app-nav-bar> tag -->
  <app-nav-bar></app-nav-bar>

  <!-- Use the <router-outlet> tag to display the routed components -->
  <router-outlet></router-outlet>

  <!-- Include the Footer Component using the <app-footer> tag -->
  <app-footer class="mt-auto"></app-footer>
</body>

</html>
