  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/appImgs/logo.png" width="20" height="20" alt="Logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto">
          <h1 class="text-center web-title">LIFE LOG</h1>
        </div>
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a (click)="aboutUs()" class="nav-link mb-3" id="about-us-btn">About us</a>
          </li>
          <li class="nav-item">
            <a (click)="contactUs()" class="nav-link mb-3 " id="contact-us-btn">Contact us</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a (click)="home()" class="nav-link mb-3 " id="home-btn">Home</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a (click)="journal()" class="nav-link mb-3 " id="journal-btn">Journals</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a (click)="wellness()" class="nav-link mb-3 " id="wellness-btn">Daily Wellness</a>
          </li>
          <li class="nav-item nav-link mb-3 "  id="logout-btn" *ngIf="isLoggedIn()">
            <a (click)="logOutAll()" >Sign Out</a>
          </li> 
       
        </ul>
      </div>
    </div>
  </nav>
  