/* Styling for user profile images */
img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 2px solid rgb(7, 224, 0);
}

/* Styling for web page title */
.web-title {
  font-family: "Roboto-Mono";
  font-size: 20px;
  color: #fff;
}

/* Styling for the navigation bar */
.navbar{
  background-color: #000000;
}

/* Styling for the logout button */
#logout-btn{
  margin-left: 5px;
  background-color: #F76526;
  color: #000;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #F76526;
  color: #fff;
}

/* Styling for the "About Us" button */
#about-us-btn {
  background-color: rgb(5, 185, 201);
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

#about-us-btn:hover {
  background-color: rgba(5, 185, 201, 0.61);
  color: white;
}

/* Styling for the "Contact Us" button */
#contact-us-btn {
  background-color: rgb(28, 201, 5);
  color: white;
  cursor: pointer;
}

#contact-us-btn:hover {
  background-color: rgba(29, 201, 3, 0.61);
  color: white;
}

/* Styling for the "Journal" button */
#journal-btn{
  margin-left: 5px;
  background-color: #f85dc4;
  color: #000;
  cursor: pointer;
}

#journal-btn:hover {
  background-color: #f85dc4;
  color: #fff;
}

/* Styling for the "Wellness" button */
#wellness-btn{
  margin-left: 5px;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
}

#wellness-btn:hover {
  background-color: #000;
  color: #ffffff;
}

/* Styling for the "Home" button */
#home-btn{
  margin-left: 5px;
  background-color: #f9ff9e;
  color: #000;
  cursor: pointer;
}

#home-btn:hover {
  background-color: #f9ff9e;
  color: #0000009d;
}

/* Styling for navigation buttons */
.nav-button {
  display: inline-block;
  width: 120px; /* Adjust the width as needed */
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Optional: Styling for hover and active states of navigation buttons */
.nav-button:hover,
.nav-button:active {
  background-color: #6c757d;
}
