
img{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 2px solid rgb(7, 224, 0);
}

.text-center{
font-family: 'Roboto-Mono';
font-size: 20px
}
.container-fluid{
color: #fff;
}
#about-us-btn{
  background-color: rgb(5, 185, 201);
  color: white;
  border: 2px solid rgb(0, 0, 0);
}
#about-us-btn:hover{
  background-color: rgba(5, 185, 201, 0.61);
  color: white;
}


#contact-us-btn{
  background-color: rgb(28, 201, 5);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  transition: background-color 0.3s, color 0.3s;
}
#contact-us-btn:hover{
  background-color: rgba(29, 201, 3, 0.61);
  color: white;
}

