/* Styling for the Sign-In Component */
.col-md-6{
    margin-top: 10.5%; /* Margin spacing for top */
}

.card-header{
    background-color: #5f5f5f; /* Background color for the card header */
    color: white; /* Text color for the card header */
}

#submitBtn{
    background-color: rgb(5, 185, 201); /* Background color for the submit button */
    border: 1px solid black; /* Border for the submit button */
}

#submitBtn:hover{
    transition: .3s; /* Smooth transition effect on hover */
    background-color: rgb(2, 139, 151); /* Background color on hover */
    opacity: 0.8; /* Opacity on hover */
    color: white; /* Text color on hover */
}

#sign-google{
    border: 1px solid black; /* Border for the Google sign-in button */
    color: black; /* Text color for the Google sign-in button */
    background-color: rgb(228, 228, 228); /* Background color for the Google sign-in button */
}

#sign-google:hover{
    transition: .3s; /* Smooth transition effect on hover */
    background-color: #DB4437; /* Background color on hover */
    color: white; /* Text color on hover */
}
