<app-nav-bar></app-nav-bar>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">Sign In</div>
				<div class="card-body">
					<form>
						<div class="mb-3">
							<label for="email" class="form-label"
								>Email address</label
							>
							<input
								type="email"
								class="form-control"
								id="email"
								placeholder="Enter your email" />
						</div>
						<div class="mb-3">
							<label for="password" class="form-label"
								>Password</label
							>
							<input
								type="password"
								class="form-control"
								id="password"
								placeholder="Enter your password" />
						</div>
						<button type="submit" id="submitBtn" class="btn btn-primary">
							Submit
						</button>
					</form>
				</div>
			</div>
			<hr class="mt-5"/><p class="text-center">or</p><hr/>
			<button
                id="sign-google"
				class="btn mt-5 d-flex justify-content-center align-items-center w-100">
				<img
					class="me-2 media mt-0"
                    
					src="https://cdn.freebiesupply.com/logos/large/2x/google-g-2015-logo-png-transparent.png"
					alt="logo"
					width="20px"
					height="20px" />
				<span class="mt-0"> Continue with Google</span>
			</button>
		</div>
	</div>
</div>
