<div class="container text-center">    
    <div class="row">
      <div class="col-sm-5"> 
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          
      </div>
      <div class="col-sm-5">
        <div class="well">
        <h3>The one stop place to do your daily journalding and keep track of your wellbeing.</h3>
        </div>
        <div class="well">
			<div class="well d-flex align-items-center">				<button class="btn btn-primary">Sign Up</button>
        <button class="btn btn-success">Sign In</button>
      </div>
      <button id="sign-google" class="btn btn-danger mt-2">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/google-g-2015-logo-png-transparent.png" alt="logo" width="30px" height="30px">
        Sign In with Google
      </button>
			</div>
		</div>
    </div>
  </div>

<!-- img
paragraph
sign up
sign in
sign in with google -->