<div class="container text-center">
	<div class="row">
		<div class="col-sm-6">
			<img
				src="https://placehold.it/150x80?text=IMAGE"
				class="img-responsive"
				style="width: 100%"
				alt="Image"
			/>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<h4>
					Life Log is an all-inclusive platform that seamlessly blends
					the art of self-expression through journaling with the
					science of holistic health tracking, offering you a
					harmonious space to reflect, grow, and nurture your
					physical, emotional, and mental wellness.
				</h4>
			</div>
			<div class="well">
				<div
					class="well d-flex align-items-center justify-content-center"
				>
				  <button id="signUp"class="btn btn-primary w-50">Sign Up</button>
					<button id="signIn" class="btn btn-success w-50">Sign In</button>
				</div>
				<button id="sign-google" class="btn btn-danger mt-2 d-flex justify-content-center align-items-center w-75">
					<img
                        class="me-2"
						src="https://cdn.freebiesupply.com/logos/large/2x/google-g-2015-logo-png-transparent.png"
						alt="logo"
						width="20px"
						height="20px"
					/>
					<span class="align-middle"> Sign In with Google</span> 
				</button>
			</div>
		</div>
	</div>
</div>

<!-- img
paragraph
sign up
sign in
sign in with google -->
