*{
    margin-top: 55px;
}
.col-sm-6 img{
    border-radius: 75px;
    border: 2px solid black;
}
#signUp{
    background-color: rgb(3, 195, 3);
    color: white;
    border: 1px solid rgb(0, 0, 0);
}
#signUp:hover{
    transition: .3s;
    background-color: rgb(1, 156, 1);
    color: white;
}
#signIn{
    background-color: rgb(5, 185, 201);
    color: white;
    border: 1px solid rgb(0, 0, 0);
}
#signIn:hover{
    transition: .3s;
    background-color: rgb(2, 139, 151);
    opacity: 0.8;
    color: white;
}
#sign-google{
    background-color: rgb(182, 180, 180);
    color: black;
    border: 1px solid rgb(0, 0, 0);
}
#sign-google:hover{
    transition: .3s;
    background-color: #DB4437;
    color: white;
}