/* Styling for the card image with a background */
.card-image {
    background-image: url("../../assets/appImgs/meals.jpeg"); /* Set the background image URL */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Position the background image at the center */
    object-fit: cover; /* Ensure the background image covers the container */
    /* width: 100%; */
    /* height: 100%; */
  }
  
  /* Styling for horizontal ruler */
  hr {
    display: inline-flex; /* Display the horizontal ruler as an inline element */
    height: 20px; /* Set the height of the horizontal ruler */
  }
  
  /* Wrap text within an element */
  .text-wrap {
    word-wrap: break-word; /* Wrap long words to prevent overflow */
  }
  
  /* Styling for icons */
  .icon {
    font-size: 20px; /* Set the size of the icon */
    margin-right: 20px; /* Add margin on the right side of the icon */
  }
  
  /* Highlight list items on hover */
  .list-group-item:hover {
    background-color: bisque; /* Change background color when hovering over a list item */
  }
  
  /* Styling for badges */
  .badge {
    height: 25px; /* Set the height of badges */
  }
  