<!-- Section for adding wellness entries -->
<div class="container mt-4 mb-3">
  <h3 class="text-muted text-center">Monitor Your Daily Wellness</h3>
  <form (ngSubmit)="onSubmit()">
    <!-- Breakfast input field -->
    <div class="mb-3 mt-4">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="wellnessEntry.breakfast"
        name="breakfast"
        placeholder="Breakfast"
      />
    </div>
    <!-- Lunch input field -->
    <div class="mb-3 mt-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="wellnessEntry.lunch"
        name="lunch"
        placeholder="Lunch"
      />
    </div>
    <!-- Dinner input field -->
    <div class="mb-3 mt-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="wellnessEntry.dinner"
        name="dinner"
        placeholder="Dinner"
      />
    </div>
    <!-- Water consumption and Exercise Hours input fields -->
    <div class="row mb-3">
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="wellnessEntry.waterconsumption"
          name="waterconsumption"
          placeholder="Water Consumption (liters)"
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="wellnessEntry.exerciseHours"
          name="exerciseHours"
          placeholder="Exercise Hours"
        />
      </div>
    </div>
    <!-- Sleep Hours and Snack Names input fields -->
    <div class="row mb-3">
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="wellnessEntry.sleepHours"
          name="sleepHours"
          placeholder="Sleep Hours"
        />
      </div>
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="wellnessEntry.snackNames"
          name="snackNames"
          placeholder="Snack Names"
        />
      </div>
    </div>
    <!-- Snack Count and Steps Taken input fields -->
    <div class="row mb-3">
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="wellnessEntry.snackCount"
          name="snackCount"
          placeholder="Snack Count"
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="wellnessEntry.stepsTaken"
          name="stepsTaken"
          placeholder="Steps Taken"
        />
      </div>
    </div>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<br /><br />

<!-- Section for displaying wellness entries -->
<div class="container mt-5">
  <!-- Header for the wellness entries section -->
  <div class="d-flex justify-content-between mb-3">
    <h3 class="text-muted text-center">Your Health Journey</h3>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
  </div>

  <!-- Loop through wellness entries -->
  <div class="card mb-3" *ngFor="let entry of wellnessEntries">
    <div class="row g-0">
      <div class="col-md-4 card-image">
        <hr />
        <hr />
        <hr />
        <!-- Add your image or content here -->
      </div>
      <!-- Display wellness entry details -->
      <div class="col-md-8">
        <ul class="list-group">
          <!-- Display breakfast -->
          <li class="list-group-item align-items-center">
            <i class="fas icon fa-pizza-slice text-danger"></i>
            <span class="mr-2 ml-3">{{ entry.breakfast }}</span>
          </li>
          <!-- Display lunch -->
          <li class="list-group-item align-items-center">
            <i class="fas icon fa-pizza-slice text-danger"></i>
            <span class="mr-2 ml-3">{{ entry.lunch }}</span>
          </li>
          <!-- Display dinner -->
          <li class="list-group-item align-items-center">
            <i class="fas icon fa-pizza-slice text-danger"></i>
            <span class="mr-2 ml-3">{{ entry.dinner }}</span>
          </li>
          <!-- Display exercise hours -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas icon fa-dumbbell text-dark"></i>
            <span>Exercise:</span>
            <span class="badge bg-primary">{{ entry.exerciseHours }} hours</span>
          </li>
          <!-- Display water consumption -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas icon fa-glass-whiskey text-primary"></i>
            <span>Water Consumption:</span>
            <span class="badge bg-primary">{{ entry.waterconsumption }} liters</span>
          </li>
          <!-- Display snack names -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas icon fa-apple-alt text-danger"></i>
            <span>Snack: </span>
            <span class="badge bg-primary">{{ entry.snackNames }}</span>
          </li>
          <!-- Display sleep hours -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas icon fa-bed text-primary"></i>
            <span>Night Sleep:</span>
            <span class="badge bg-primary">{{ entry.sleepHours }} hours</span>
          </li>
          <!-- Display steps taken -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas icon fa-walking text-dark"></i>
            <span>Walked: </span>
            <span class="badge bg-primary">{{ entry.stepsTaken }} steps</span>
          </li>
          <!-- Display other entries here (exercise, water consumption, etc.) -->
        </ul>
      </div>
      <!-- Display footer with timestamp and delete button -->
      <div class="card-footer text-center text-light bg-dark">
        <small>{{ formatTimestamp(entry.createdAt) }}</small>
      </div>
    </div>
    <!-- Delete button for each entry -->
    <div class="d-flex justify-content-center mt-4 mb-3">
      <button type="submit" class="btn btn-danger" (click)="delete(entry._id)">
        Delete
      </button>
    </div>
  </div>
</div>
