/* Styling for columns in medium-sized screens */
.col-md-6 {
    margin-top: 17.5%; /* Add space above the element */
}

/* Styling for card headers */
.card-header {
    background-color: #5f5f5f; /* Dark gray background color */
    color: white; /* Text color */
}

/* Styling for the submit button */
#submitBtn {
    background-color: rgb(5, 185, 201); /* Background color */
    border: 1px solid black; /* Black border */
}

/* Hover effect for the submit button */
#submitBtn:hover {
    transition: .3s; /* Smooth transition duration */
    background-color: rgb(2, 139, 151); /* Darker background color on hover */
    opacity: 0.8; /* Slightly reduce opacity */
    color: white; /* Text color on hover */
}
