<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header bg-primary">Sign Up</div>
				<div class="card-body">
					<form>
						<div class="mb-3">
							<label for="email" class="form-label"
								>Email address</label>
							<input
								type="email"
								class="form-control"
								id="email"
								placeholder="Enter your email" />
						</div>
						<div class="mb-3">
							<label for="password" class="form-label"
								>Password</label>
							<input
								type="password"
								class="form-control"
								id="password"
								placeholder="Enter your password" />
							<label for="password" class="form-label mt-3">
								Confirm Password</label>
							<input
								type="password"
								class="form-control"
								id="password"
								placeholder="Confirm your password" />
						</div>
						<!-- <button
							type="submit"
							id="submitBtn"
							class="btn btn-primary mx-auto">
							Sign Up
						</button> -->
						<div class="container">
							<div class="row">
								<div class="col-md-12 d-flex justify-content-center">
									<button class="btn btn-primary">Sign up</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
