<div class="container mt-4">
  <div class="jumbotron">
    <div class="row">
      <!-- Left column with image -->
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/appImgs/free-photo-of-colorful-macaw-parrot-head.jpeg"
          class="img-fluid rounded-start"
          alt="Parrot Image"
        />
      </div>
      <!-- Right column with welcome message and buttons -->
      <div class="col-md-6">
        <h2 class="display-5 fw-bold">Welcome to Life Log</h2>
        <p class="lead">
          Life Log is your all-inclusive hub for self-expression through
          journaling and holistic health tracking. Nurture your well-being, both
          physically and mentally, in one harmonious space.
        </p>

        <!-- Button container -->
        <div class="well d-flex align-items-center justify-content-center mt-4">
          <button
            (click)="signOut()"
            id="signUp"
            class="btn btn-primary me-2 fs-5 w-50"
          >
            Sign Up
          </button>
          <button
            (click)="signIn()"
            id="signIn"
            class="btn btn-success ms-2 fs-5 w-50"
          >
            Sign In
          </button>
        </div>

        <!-- Google sign-in button -->
        <button
          id="sign-google"
          class="btn btn-danger mt-4 d-flex justify-content-center align-items-center w-100 fs-5"
        >
          <img
            class="me-2 media"
            src="../../../assets/appImgs/google-g-2015-logo-png-transparent.png"
            alt="Google Logo"
            width="20px"
            height="20px"
          />
          <span>Continue with Google</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Section with features -->
<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom"></header>
  <div class="row align-items-md-stretch">
    <!-- Feature: Journal Daily -->
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Journal Daily</h2>
        <p>
          Life Log offers a platform for daily journaling, allowing you to
          express yourself and reflect on your experiences.
        </p>
        <button class="btn btn-outline-light" type="button">Get Started</button>
      </div>
    </div>
    <!-- Feature: Keep Track of Calorie Intake -->
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-warning border rounded-3">
        <h2>Keep Track of Calorie Intake</h2>
        <p>
          Monitor your caloric intake and make informed choices about your diet
          and health.
        </p>
        <button class="btn btn-outline-secondary" type="button">
          Learn More
        </button>
      </div>
    </div>
    <!-- Feature: Stay Active -->
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-primary text-light border rounded-3">
        <h2>Stay Active</h2>
        <p>
          Engage in physical activities and track your progress towards a
          healthier lifestyle.
        </p>
        <button class="btn btn-outline-light" type="button">
          Discover Activities
        </button>
      </div>
    </div>
    <!-- Feature: Prioritize Mental Well-being -->
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-success text-light border rounded-3">
        <h2>Prioritize Mental Well-being</h2>
        <p>
          Nurture your mental health through mindful practices and self-care
          strategies.
        </p>
        <button class="btn btn-outline-light" type="button">
          Explore Mindfulness
        </button>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-muted border-top"></footer>
</div>
