<div class="container text-center">
	<div class="row">
		<div class="col-sm-6">
			<img
				src="https://freedesignfile.com/upload/2018/03/Young-people-working-out-at-the-gym-Stock-Photo-01.jpg"
				class="img-responsive"
				style="width: 95%; height: 95%"
				alt="Image" />
		</div>
		<div class="col-sm-6" style="margin-top: 15%">
			<!-- this may cause problems later -->
			<div class="rounded" style="letter-spacing: 1px; word-spacing: 1px">
				<h4>
					Life Log is your all-inclusive hub for self-expression
					through journaling and holistic health tracking. Nurture
					your well-being, both physically and mentally, in one
					harmonious space. 
				</h4>
				<br>
				<h4 class="mt-4">
					Get started today and begin your journey to a healthier
					lifestyle!
				</h4>
			</div>
			<div class="rounded w-75 mx-auto mt-2">
				<div
					class="well d-flex align-items-center justify-content-center mt-0">
					<button (click)="signOut()" id="signUp" class="btn btn-primary me-1 w-50">
						Sign Up
					</button>
					<button (click)="signIn()" id="signIn" class="btn btn-success ms-1 w-50">
						Sign In
					</button>
				</div>
				<button
					id="sign-google"
					class="btn btn-danger mt-2 d-flex justify-content-center align-items-center w-100">
					<img
						class="me-2 media mt-0"
						src="https://cdn.freebiesupply.com/logos/large/2x/google-g-2015-logo-png-transparent.png"
						alt="logo"
						width="20px"
						height="20px" />
					<span class="mt-0"> Continue with Google</span>
				</button>
			</div>
		</div>
	</div>
</div>


<!-- img
paragraph
sign up
sign in
sign in with google -->
