/* Styling for the sign-up button */
#signUp {
  background-color: rgb(3, 195, 3); // Green background color
  color: white; // White text color
  border: 1px solid rgb(0, 0, 0); // Black border
}

#signUp:hover {
  transition: 0.3s; // Transition effect on hover
  background-color: rgb(1, 156, 1); // Darker green background on hover
  color: white; // White text color on hover
}

/* Styling for the sign-in button */
#signIn {
  background-color: rgb(5, 185, 201); // Blue background color
  color: white; // White text color
  border: 1px solid rgb(0, 0, 0); // Black border
}

#signIn:hover {
  transition: 0.3s; // Transition effect on hover
  background-color: rgb(2, 139, 151); // Darker blue background on hover
  opacity: 0.8; // Slight opacity decrease on hover
  color: white; // White text color on hover
}

/* Styling for the Google sign-in button */
#sign-google {
  background-color: rgb(182, 180, 180); // Light gray background color
  color: black; // Black text color
  border: 1px solid rgb(0, 0, 0); // Black border
}

#sign-google:hover {
  transition: 0.3s; // Transition effect on hover
  background-color: #db4437; // Red background on hover
  color: white; // White text color on hover
}
