
img{
    width: 85px;
    height: 85px;
    border-radius: 150px;
    // border: 2px solid rgb(0, 224, 86);
}

.text-center{
  font-family: 'Roboto-Mono';
  font-size: 35px
}
.container-fluid{
  color: #fff;
}


