
img{
    width: 85px;
    height: 85px;
    border-radius: 150px;
    // border: 2px solid rgb(0, 224, 86);
}

.text-center{
  font-family: 'Roboto-Mono';
  font-size: 35px
}
.container-fluid{
  color: #fff;
}
#about-us-btn{
    background-color: rgb(3, 195, 3);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}
#about-us-btn:hover{
    transition: .3s;
    background-color: rgb(5, 185, 201);
    color: white;
}


#contact-us-btn{
    background-color: rgb(5, 185, 201);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}
#contact-us-btn:hover{
    transition: .3s;
    background-color: rgb(3, 195, 3);
    color: white;
}

