<div class="navBar">    
    <nav>
        <ul>
            <img src="./favicon.ico" alt="logo">
            <li><h1>Life Log</h1></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
            <li><button>Dark/Light mode</button></li>
        </ul>
    </nav>
</div>
<!-- 

    NavBar content 

- logo (static)
- title (static)
- about us (connects to a diff page)
- contact us (connects to a diff page)
- dark/light mode (changes style)

-->