/* Style for the "add" button on hover */
.add:hover {
  background-color: #fff; /* Change background color to white on hover */
  color: #000; /* Change text color to black on hover */
}

/* Style for list group items on hover */
.list-group-item:hover {
  background-color: #fada84; /* Change background color to a light yellow on hover */
  color: #000; /* Change text color to black on hover */
}
