<div class="container mt-5">
  <!-- Journal Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-end mb-0" style="font-size: 2rem">MY JOURNAL</h1>
    <a routerLink="/addjournal" class="btn btn-success add">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <!-- List of Journals -->
  <div class="list-group" *ngFor="let journal of journals; let i = index">
    <!-- Journal Item -->
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#modal' + i"
    >
      <!-- Journal Title and Timestamp -->
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ journal.title }}</h5>
        <small>{{ formatTimestamp(journal.createdAt) }}</small>
      </div>
      <!-- Journal Description -->
      <p class="mb-1">{{ journal.about }}</p>
    </a>

    <!-- Journal Details Modal -->
    <div
      class="modal fade"
      [id]="'modal' + i"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">{{ journal.title }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body overflow-auto text-break">
            <img src="{{ journal.img }}" class="img-fluid mb-3" alt="..." />
            <p>{{ journal.text }}</p>
            <small>{{ formatTimestamp(journal.createdAt) }}</small>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Edit</button> -->
            <!-- Delete Button with Event Handler -->
            <button class="btn btn-danger" (click)="deleteJournal(journal._id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
