.row {
    align-items: center;
	top: 15%;
	transform: transformY(15);
}
#aboutPara{
    
}
#brendanPic{
 width: 80%;
  border-radius: 450px;
  border: 2px solid rgb(5, 185, 201);
}
#abdiPic{
    width: 80%;
    border-radius: 50px;
    border: 2px solid rgb(7, 224, 0);
}
