.icons img {
	width: auto; /* Set width to auto to maintain aspect ratio */
	height: 27px; /* Set the height of the icons */
	margin-right: 2px; /* Add a small margin between icons */
}

.icons img:hover {
	transition: 0.3s; /* Add a smooth transition effect */
	transform: scale(1.1); /* Enlarge the icon on hover */
}

#aboutPara {
	letter-spacing: 1px; /* Add letter spacing to the text */
}

#brendanPic {
	width: 40%; /* Set the width of the image */
	border-radius: 450px; /* Apply a rounded border radius */
	border: 2px solid rgb(5, 185, 201); /* Add a border with a color */
}

#abdiPic {
	width: 40%; /* Set the width of the image */
	border-radius: 450px; /* Apply a rounded border radius */
	border: 2px solid rgb(5, 185, 201); /* Add a border with a color */
}
