<app-nav-bar></app-nav-bar>
<div id="aboutUs" class="row">
	<div class="col-sm-6 text-center">
		<img
			id="brendanPic"
			src="./assets/1648077213073.jpg"
			class="img-responsive"
			alt="" />
	</div>
	<div class="col-sm-6">
		<h3>Brendan Chermack</h3>
		<p class="aboutPara">
			Passionate about programming and creation, I am a self-motivated
			individual with a knack for self-teaching. I thrive on the
			exhilarating process of bringing ideas to life through coding. From
			making a website, to automating tasks, I love seeing a project I
			make have an actual use. I am currently a sophomore student at Saint
			Cloud State University, where I am pursuing my education in the
			field of Computer Science. While I take my education seriously, I
			strive to put myself ahead my peers by consistently challenging
			myself by doing difficult projects and tasks unrelated to my
			academic classes.
		</p>
	</div>
</div>
<div id="aboutUs" class="row">
	<div class="col-sm-6">
		<h3>Abdi Munmin</h3>
		<p class="aboutPara">
			Passionate about programming and creation, I am a self-motivated
			individual with a knack for self-teaching. I thrive on the
			exhilarating process of bringing ideas to life through coding. From
			making a website, to automating tasks, I love seeing a project I
			make have an actual use. I am currently a sophomore student at Saint
			Cloud State University, where I am pursuing my education in the
			field of Computer Science. While I take my education seriously, I
			strive to put myself ahead my peers by consistently challenging
			myself by doing difficult projects and tasks unrelated to my
			academic classes.
		</p>
	</div>
	<div class="col-sm-6">
		<img
			id="brendanPic"
			src="./assets/1685446059730.jpg"
			class="img-responsive"
			alt="" />
	</div>

	<!-- <div class="">
			<img id="abdiPic" src="./assets/1685446059730.jpg" alt="" />
			<p class="aboutPara">
				FILLER FILLER FILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER FILLERFILLER
				FILLERFILLER FILLERFILLER FILLER
			</p>
		</div> -->
</div>
